<div class="form-article">
  <div class=""></div>
  <span class="form-article__label">标题：</span>
  <input nz-input type="text" [(ngModel)]="title" placeholder="这里输入标题。。。。" name="title">
  <span class="form-article__label">创建日期：</span>
  <nz-input-group>
    <nz-date-picker [(ngModel)]="createAt" class="form-article__createAt" (ngModelChange)="onChange($event)">
    </nz-date-picker>
  </nz-input-group>
  <span class="form-article__label">标签：</span>
  <nz-input-group>
    <nz-select nzMode="tags" class="form-article__tags" nzPlaceHolder="标签" [(ngModel)]="TagOptions">
      <nz-option *ngFor="let option of tagsOfOption" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
    </nz-select>
  </nz-input-group>
  <span class="form-article__label">简介内容：</span>
  <textarea rows="8" nz-input [(ngModel)]="brief"></textarea>
  <span class="form-article__label">文章内容内容： </span>
  <textarea rows="30" nz-input [(ngModel)]="content"></textarea>
  <button nz-button nzType="primary">提交</button>
</div>